<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <input type="text" v-model="input">
            <button v-on:click="add">Add</button>
        </div>
        <ul>
            <li v-for="(item, index) in items">{{item}}
                <button v-on:click="remove(index)">刪除</button>
            </li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                input: '',
                items: [
                    'I have a pen',
                    'I have an apple',
                    'ahh apple pen'
                ],
            },
            methods: {
                add() {
                    this.items.push(this.input);
                    this.input = '';
                },
                remove(index) {
                    this.items.splice(index, 1)
                }
            },
        });
    </script>
</body>

</html>